{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "firefox/base-resp.html" %}

{% block page_title_prefix %}{% endblock %}
{% block page_title %}{{ _('Firefox for Android — Mobile Web browser — More ways to customize and protect your privacy') }}{% endblock %}
{% block page_desc %}{{ _('Only Firefox for Android offers so many ways to make your mobile browsing experience truly your own') }}{% endblock %}
{% block body_id %}firefox-android{% endblock %}

{% block site_css %}
  {{ css('firefox_android') }}
{% endblock %}

{% block site_header %}
  <header id="masthead">
    <div class="container">
      <a href="{{ url('mozorg.home') }}" id="tabzilla" data-infobar="{{ settings.TABZILLA_INFOBAR_OPTIONS }}">Mozilla</a>

      {% block site_header_logo %}{% endblock %}
      {% block site_header_nav %}{% endblock %}
    </div>
  </header>
{% endblock %}

{% block content %}

<section id="intro">
  <div class="container">
    <h2>
      {{ _('We make it Firefox.') }}
      {{ _('You make it your own.') }}
    </h2>

    <p class="lead">
      {{ _('The features you love.') }}
      {{ _('The privacy you trust.') }}
      {{ _('The most customizable Firefox for Android yet.') }}
    </p>

    <a class="button" href="">
      {{ _('Download on Google Play') }}
    </a>
  </div>{# /.container #}
</section>

<section id="customize">
  <div class="container">
    <h2>{{ _('Uniquely yours') }}</h2>

    <p class="lead">
      {{ _('Only Firefox for Android offers this many ways to make your mobile browsing experience truly your own.') }}
    </p>

    <div class="accordion" id="customize-accordion">
      <section id="share">
        <h3 data-accordion-role="tab">{{ _('Smarter sharing for all') }}</h3>

        <div data-accordion-role="tabpanel">
          <p>
          {% trans %}
            The most adaptive way to share anything, Quick Share remembers your most recently
            used apps to help you get the word out just the way you want.
          {% endtrans %}
          </p>

          <a rel="external" href="https://www.youtube.com/watch?v=a5nNPf-Uosc&amp;index=12&amp;list=PLA8ABF6B7A66A0C5E">{{ _('See how it works') }}</a>
        </div>
      </section>
      <section id="addons">
        <h3 data-accordion-role="tab">{{ _('All your faves, front and center') }}</h3>

        <div data-accordion-role="tabpanel">
          <p>
          {% trans %}
            Customize your home panels with any Web content you want and access your favorite
            feeds &mdash; like Instagram and Pocket Hits &mdash; instantly.
          {% endtrans %}
          </p>

          <a rel="external" href="https://www.youtube.com/watch?v=alW2g7Gnh6U&amp;list=PLA8ABF6B7A66A0C5E&amp;index=18">{{ _('See how it works') }}</a>
        </div>
      </section>
      <section id="homepanel">
        <h3 data-accordion-role="tab">{{ _('A touch more personal') }}</h3>

        <div data-accordion-role="tabpanel">
          <p>
          {% trans %}
            Display your Home panels in any order you like or add, hide and delete them as you
            see fit to keep your favorites one touch away.
          {% endtrans %}
          </p>

          <a rel="external" href="https://www.youtube.com/watch?v=HKvyr0TIKF0&amp;index=14&amp;list=PLA8ABF6B7A66A0C5E">{{ _('Learn more') }}</a>
        </div>
      </section>
      <section id="search">
        <h3 data-accordion-role="tab">{{ _('Any search you like') }}</h3>

        <div data-accordion-role="tabpanel">
          <p>
            {{ _('Add any search engine and make it your default. ') }}
            {{ _('Or change it any time to the one that best matches your search and privacy needs.') }}
          </p>

          <a rel="external" href="">{{ _('See how it works') }}</a>
        </div>
      </section>
      <section id="language">
        <h3 data-accordion-role="tab">{{ _('Change your language') }}</h3>

        <div data-accordion-role="tabpanel">
          <p>
          {% trans %}
            Change your browser language quickly and easily, without having to change the settings
            for your entire device or even restart your browser.
          {% endtrans %}
          </p>

          <a rel="external" href="https://support.mozilla.org/en-US/kb/change-default-language-firefox-android">{{ _('Learn more') }}</a>
        </div>
      </section>
      <section id="screencast">
        <h3 data-accordion-role="tab">{{ _('Take it to the big screen') }}</h3>

        <div data-accordion-role="tabpanel">
          <p>
          {% trans %}
            Send video and Web content from your smartphone or tablet to any TV equipped with
            supported streaming capabilities.
          {% endtrans %}
          </p>

          <a rel="external" href="">{{ _('Learn more') }}</a>
        </div>
      </section>
    </div>{# /.accordion #}
  </div>{# /.container #}
</section>

<section id="privacy">
  <div class="container">
    <h2>{{ _('Keep your private info private') }}</h2>

    <p class="lead">
      {{ _('We believe your personal information belongs to you.') }}
      {{ _('Firefox for Android is filled with features to help keep it that way. ') }}
    </p>

    <ul>
      <li id="dnt">
        <strong>{{ _('Do not track') }}</strong>

        <p>
        {% trans %}
          Enable this Firefox innovation to help you stay in control of how your browsing
          information is collected and used online.
        {% endtrans %}
        </p>

        <a href="{{ url('firefox.dnt') }}">{{ _('Learn more about Do Not Track') }}</a>
      </li>
      <li id="private-browsing">
        <strong>{{ _('Private Browsing') }}</strong>

        <p>
        {% trans %}
          When activated, Firefox for Android won’t accept cookies, remember passwords or
          record any sites that you’ve visited.
        {% endtrans %}
        </p>

        <a rel="external" href="https://www.youtube.com/watch?v=Ewk0YtFTBec&amp;list=PLA8ABF6B7A66A0C5E&amp;index=15">{{ _('Learn how to open a private window') }}</a>
      </li>
      <li id="clear-history">
        <strong>{{ _('Clear history') }}</strong>

        <p>
          {{ _('Delete your browsing history, passwords and more in a single tap.') }}
          {{ _('Choose the private data you want to remove whenever you need to do so.') }}
        </p>

        <a rel="external" href="https://support.mozilla.org/en-US/kb/clear-your-browsing-history-and-other-personal-dat">{{ _('Learn how to clear your history') }}</a>
      </li>
      <li id="guest-browsing">
        <strong>{{ _('Guest browsing') }}</strong>

        <p>
        {% trans %}
          Share your browser with friends and family without worrying that you’ll see
          each other’s online activity.
        {% endtrans %}
        </p>

        <a rel="external" href="https://www.youtube.com/watch?v=u6Ww0udnVA0&amp;index=16&amp;list=PLA8ABF6B7A66A0C5E">{{ _('Learn how to share your browser') }}</a>
      </li>
    </ul>
  </div>{# /.container #}
</section>

<section id="sync">
  <div class="container">
    <h2>{{ _('Don’t leave home without being in Sync') }}</h2>

    <p>
      {{ _('Bring your passwords, bookmarks, open tabs and more everywhere you go.') }}
      {{ _('Use Sync on your smartphone or tablet to access whatever you need from your desktop &mdash; and vice versa &mdash; without having to remember URLs.') }}
    </p>

    <a href="">{{ _('Learn more about Sync') }}</a>
  </div>{# /.container #}
</section>

{% endblock %}

{% block email_form %}
  <div id="subscribe-download-wrapper" class="ga-section" data-ga-label="Get Firefox news">
    <div class="container">
      <div id="download-wrapper">
        <h3>{{ _('Choose Firefox') }}</h3>
        <a class="button" href="">
          {{ _('Download on Google Play') }}
        </a>

        <a href="">{{ _('Supported devices') }}</a>
        <a href="">{{ _('Release notes') }}</a>
      </div>
      <div id="subscribe-wrapper">
        {{ email_newsletter_form(title=_('Get Firefox news')) }}
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  {{ js('firefox_android') }}
{% endblock %}
